.orbit-container {
  background-color: #f3c1e9; }
  .orbit-container .orbit-image {
    width: 100%; }
    @media all and (min-width: 620px) {
      .orbit-container .orbit-image {
        width: 30%;
        margin-left: 35%; } }
